// -----------------------------------------------------------------------------
// This file contains all styles related to the grid.
// -----------------------------------------------------------------------------

.wrap {
  //width: $basic-row-width;
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  float: none;
  margin: 0 auto;
}
