// -----------------------------------------------------------------------------
// This file contains all styles related to the grid.
// -----------------------------------------------------------------------------

#player {
  position: relative;
  margin: $player-margin auto;
  width: $player-width;
  height: $player-height;
  box-shadow: $player-boxshadow-outer-distance-x
              $player-boxshadow-outer-distance-y
              $player-boxshadow-outer-blur-radius
              $player-boxshadow-outer-tension
              $toyplayer-color-box-shadow;
  border-top: $player-border-top-width solid $toyplayer-color-half-transparent;
  overflow: hidden;
}
