// -----------------------------------------------------------------------------
// This file contains all styles related to the featured of the site/application.
// -----------------------------------------------------------------------------

.toyplayer-controls button {
  position: relative;
  background: $transparent;
  color: $silver;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);
  border: 0px;
  border-right: 2px solid $half-transparent;
  border-left: 2px solid $half-transparent;
  transition: all 0.5s;
  width: $button-width;
  height: $button-height;

  &:hover {
    font-size: $button-font-hover-size;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    font-size: $button-font-size;
  }

  &:active {
    font-size: $button-font-size;
    color: $red;
  }
}
