// -----------------------------------------------------------------------------
// This file contains all styles related to the featured of the site/application.
// -----------------------------------------------------------------------------

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
