// -----------------------------------------------------------------------------
// This file contains all styles related to the grid.
// -----------------------------------------------------------------------------


.toyplayer-song-name {
  margin-top: 20px;
}

.toyplayer-song-name p {
  color: $grey;
  font-size: 1.5rem;
}

.toyplayer-song-name p:first-child {
  color: $silver;
  font-size: 1.65rem;
}
