// -----------------------------------------------------------------------------
// This file contains all styles related to the featured of the site/application.
// -----------------------------------------------------------------------------

#player {
  box-shadow: -6px 6px 40px 5px $box-shadow-color;
  border-top: 2.5px solid $half-transparent;
  overflow: hidden;
}
