// -----------------------------------------------------------------------------
// This file contains all styles related to the featured of the site/application.
// -----------------------------------------------------------------------------


.player-progress {
  background-color: $black;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.player-progress-bar,  .player-progress-loading {
  position: absolute;
  left: 0;
  height: 100%;
  box-shadow: inset 0 -4px 4px 0 rgba(0, 0, 0, 0.2);
}

.player-progress-bar{
  width: 1.5%;
  background-color: $red;
}

.player-progress-loading{
  width: 15%;
  background-color: $silver;
}
