// -----------------------------------------------------------------------------
// This file contains all styles related to the grid.
// -----------------------------------------------------------------------------


.toyplayer-song-name {
  margin-top: $song-name-argin-top;
}

.toyplayer-song-name p {
  color: $silver;
  font-size: $song-name-font-size;
}

.toyplayer-song-name p:last-child {
  color: $grey;
  font-size: $song-name-author-font-size;
}
