// -----------------------------------------------------------------------------
// This file contains all styles related to the featured of the site/application.
// -----------------------------------------------------------------------------


.toyplayer-progress {
  background-color: $black;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.toyplayer-progress-value {
  position: absolute;
  left: 0;
  height: 100%;
  box-shadow: inset 0 -4px 4px 0 rgba(0, 0, 0, 0.2);
}

.toyplayer-progress-value {
  width: 0.1%;
  background-color: $red;
}

