//require('fonts/icomoon.ttf');
//require('imgs/play.svg');


/*@font-face {
  font-family: icomoon;
  src: url('fonts/icomoon.ttf');
}

button {
  font-family: icomoon;
}


/*button:before {
  content: url('imgs/play.svg') /* with class ModalCarrot ??*/
/*}

button {
   position: absolute;
   left: 50%;
   margin-left: -8px;
   top: -16px;
}
*/

@charset 'UTF-8';

// 1. Vendors
@import
    'vendor/scss/font-awesome';
//  'vendor/font-awesome.scss',
//  'vendor/font-awesome.min.css';

// 2. Configuration and helpers
@import
  'utils/toyplayer_variables',
  'utils/toyplayer_functions',
  'utils/toyplayer_mixins';

// 3. Base stuff
@import
  'base/toyplayer_fonts',
  'base/toyplayer_base',
  'base/toyplayer_controls_a',
  'base/toyplayer_controls_p',
  'base/toyplayer_helpers';

// 4. Layout-related sections
@import
  'layout/player_wrapper',
  'layout/toyplayer_image',
  'layout/toyplayer_controls';

// 5. Components
@import
  'components/toyplayer_controls_buttons',
  'components/toyplayer_song_name',
  'components/toyplayer_progress_bar',
  'components/toyplayer_volume_bar';
