// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type Font
$text-font-stack: 'Helvetica Neune', Helvetica, Arial, sans-serif !default;

/// Button font family
/// @type Font
$button-font-family: FontAwesome;

/// Regular font size
/// @type Font
$html-font-size: 16px;

///Button font size
/// @type Font
$button-font-size: 1.5em;

///Button font size
/// @type Font
$button-font-hover-size: 2.1em;
/// Background color
/// @type Color
$background-color: #c7bcbc;

/// Silver
/// @type Color
$silver: #eaeaea !default;

/// Grey
/// @type Color
$grey: #636464 !default;

/// Dark-grey
/// @type Color
$dark-grey: #2b2c2d !default;

/// Black
/// @type Color
$black: black !default;

/// Black
/// @type Color
$red: #db3d48 !default;

/// Transparent grey
/// @type Color
$transparent: rgba(0,0,0,0);

/// Transparent grey
/// @type Color
$half-transparent: rgba(255,255,255,0.06);

/// Box-shadow color
/// @type Color
$box-shadow-color: rgba(0,0,0,0.5);

/// Box-shadow
/// @type Color
$shadow-color: rgba(0,0,0,0.5);

/// Link
/// @type Length
$link-margin: 20px;

/// @type Length
$link-font-size: 1rem;

/// Player
/// @type Length
$player-margin: 200px;

/// @type Length
$player-width: 640px;

/// @type Length
$player-height: 435px;

/// Player-image
/// @type Length
$player-image-height: 75%;

/// Player-controls
/// @type Length
$player-controls-height: 100%-$player-image-height;

/// Player-progress
/// @type Length
$player-progress-height: 7.5%;

/// Button
/// @type Length
$button-width: $player-height * (100% - $player-progress-height)/100% * $player-controls-height/100%;

/// @type Length
$button-height: $button-width;

/// Song-name
/// @type Length
$song-name-width: ($player-width - ($button-width*2));

/// @type Length
$song-name-argin-top: 20px;

/// @type Length
$song-name-font-size: 1.65rem;

/// @type Length
$song-name-author-font-size: 1.5rem;

/// @type Length
$song-name-height: 100%-$player-progress-height;

/// Volume-bar
/// @type Length
$volume-bar-wrapper-height: 130px;

/// @type Length
$volume-bar-wrapper-width: 30px;

/// @type Length
$volume-bar-height: 100px;

/// @type Length
$volume-bar-width: 5px;

/// @type Length
$volume-bar-wrapper-margin-top: 0 - ($button-height/2 + $volume-bar-height);

/// @type Length
$volume-bar-wrapper-margin-right: 10px;

/// @type Length
$volume-bar-wrapper-border-radius: 7px;

/// @type Length
$volume-bar-margin-bottom: ($volume-bar-wrapper-height - $volume-bar-height) / 2;

/// @type Length
$volume-bar-margin-left: ($volume-bar-wrapper-width - $volume-bar-width) / 2;

/// @type Length
$volume-bar-border-radius: 2px;

/// Extra controls
/// @type Length
$extra-controls-width: $player-width - $button-width*2;

/// @type Length
$extra-controls-height: 40px;
