// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type Font
$text-font-stack: 'Helvetica Neune', Helvetica, Arial, sans-serif !default;

/// Button font family
/// @type Font
$button-font-family: FontAwesome;

/// Regular font size
/// @type Font
$html-font-size: 16px;

///Button font size
/// @type Font
$button-font-size: 1.5em;

///Button font size
/// @type Font
$button-font-hover-size: 2.1em;
/// Background color
/// @type Color
$background-color: #c7bcbc;

/// Silver
/// @type Color
$silver: #eaeaea !default;

/// Grey
/// @type Color
$grey: #636464 !default;

/// Dark-grey
/// @type Color
$dark-grey: #2b2c2d !default;

/// Black
/// @type Color
$black: black !default;

/// Black
/// @type Color
$red: #db3d48 !default;

/// Transparent grey
/// @type Color
$transparent: rgba(0,0,0,0);


/// Transparent grey
/// @type Color
$half-transparent: rgba(255,255,255,0.06);

/// Box-shadow color
/// @type Color
$box-shadow-color: rgba(0,0,0,0.5);

/// Box-shadow color
/// @type Color
$shadow-color: rgba(0,0,0,0.5);

/// Box-shadow color
/// @type Color
$box-shadow-outside-color: rgba(0,0,0,0.3);

$link-margin: 20px;

$link-font-size: 1rem;

$extra-controls-height: 40px;
/// Player margin
/// @type Length
$player-margin: 200px;

/// Player width
/// @type Length
$player-width: 640px;

/// Player height
/// @type Length
$player-height: 435px;

$player-image-height: 75%;

$player-controls-height: 100%-$player-image-height;

$player-progress-height: 7.5%;

/// Button width
/// @type Length
$button-width: $player-height * (100% - $player-progress-height)/100% * $player-controls-height/100%;

/// Button height
/// @type Length
$button-height: $button-width;

$player-song-name-width: ($player-width - ($button-width*2));

$player-song-name-height: 100%-$player-progress-height;

/// Breakpoints variables
///$slicer-breakpoints: 0 400px 600px 800px 1050px;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
