// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neune', Helvetica, Arial, sans-serif !default;

/// Regular line height
/// @type Line-height
//$text-line-height: 1.5;

/// Background color
/// @type Color
$background-color: #c7bcbc;

/// Silver
/// @type Color
$silver: #eaeaea !default;

/// Grey
/// @type Color
$grey: #636464 !default;

/// Dark-grey
/// @type Color
$dark-grey: #2b2c2d !default;

/// Black
/// @type Color
$black: black !default;

/// Black
/// @type Color
$red: #db3d48 !default;

/// Transparent grey
/// @type Color
$transparent: rgba(0,0,0,0);


/// Transparent grey
/// @type Color
$half-transparent: rgba(255,255,255,0.06);

/// Box-shadow color
/// @type Color
$box-shadow-color: rgba(0,0,0,0.5);

/// Box-shadow color
/// @type Color
$shadow-color: rgba(0,0,0,0.5);

/// Box-shadow color
/// @type Color
$box-shadow-outside-color: rgba(0,0,0,0.3);


/// Container's maximum width
/// Below that is 100%
/// @type Length
$max-width: 1200px !default;





/// Breakpoints variables
$slicer-breakpoints: 0 400px 600px 800px 1050px;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
