// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------


/**
 * Reset all margins and paddings
 * Make all elements border-box-type
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * Set up settings on the root element
 */
html {
  background: $background-color;
  box-sizing: border-box;
  font-size: 16px;
}

div {
    z-index: 1;
}
.top-part-player {
  position: relative;
  height: 70%;
  width: 100%;
}
.top-part-player button {
  position: absolute;
  bottom:0;
}
.top-part-player button:first-child {
  position: absolute;
  left:0;
}
.top-part-player button:last-child {
  position: absolute;
  right:0;
}
.bottom-part-player {
  background: #2d2e30;
  position: relative;
  height: 30%;
  width: 100%;
}
.bottom-part-player button {
  float: left;
  height: 100%;
  width: 15%;
}
.bottom-part-player span {
  text-align: center;
  float: left;
  height: 100%;
  width: 70%;
}
progress {
  width: 100%;
  height: 5%;
}
