// -----------------------------------------------------------------------------
// This file contains all paragraphs-styles// -----------------------------------------------------------------------------

p {
  text-shadow: 0px 2px 3px $shadow-color;
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin-bottom: 5px;
}

