// -----------------------------------------------------------------------------
// This file contains all paragraphs-styles// -----------------------------------------------------------------------------
//

.toyplayer-controls p {
  text-shadow: $toyplayer-controls-textshadow-distance-x
               $toyplayer-controls-textshadow-distance-y
               $toyplayer-controls-textshadow-blur-radius
               $toyplayer-color-shadow;
  font-family: $toyplayer-text-font-stack;
  margin-bottom: $toyplayer-controls-p-margin-bottom;
}
