// -----------------------------------------------------------------------------
// This file contains very basic links.
// -----------------------------------------------------------------------------


.toyplayer-controls a {
  text-shadow: 0px 2px 3px $shadow-color;
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: $link-margin;
  color: silver;
  font-size: $link-font-size;
  transition: all 0.1s;

  &:hover {
    color: $grey;
    cursor: pointer;
  }

  &:active {
    color: $red;
  }
}

